body {
    background-color: lightgrey;
}

img {
    width: 450px;
    height: auto;
}

h1 {
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0px 20px 0px 0px;
}

.menu-item {
    font-size: 20px;
}